<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>人员信息管理系统</title>

</head>
<body>
<h2>列表</h2>
<div>

    <table >
    <thead>


    <tr th:each="emp:${emps}">
        <td th:text="${emp.getId()}"></td>
        <td th:text="${emp.getName()}"></td>
        <td th:text="${emp.getSex()}"></td>
        <td th:text="${emp.getEMAIL()}"></td>
        <td th:text="${emp.getDepartment().getDepartment_name()}"></td>
        <td th:text="${emp.getBirthday()}"></td>
        <td th:text="${emp.getName()}">zh</td>
    </tr>
    </thead>




</table></div >

<div class="container">
    <div class="form row">
        <form class="form-horizontal col-sm-offset-3 col-md-offset-3" th:action="@{addman}">


            <div class="col-sm-9 col-md-9">

                <div >

                    <input th:type="submit"  value="登录" class="btn btn-success pull-right">
                </div>

            </div>
        </form>
    </div>
</div>


</body>
<script>

</script>
</html>